apiVersion: secrets-store.csi.x-k8s.io/v1
kind: SecretProviderClass
metadata:
  name: analyzer-vault-provider
  namespace: default
spec:
  provider: vault
  parameters:
    roleName: "repo-analyzer-role"
    vaultAddress: "http://vault.vault.svc.cluster.local:8200"
    objects: |
      - objectName: "POSTGRES_USER"
        secretPath: "secret/bram_vortex_db"
        secretKey: "POSTGRES_USER"
      - objectName: "POSTGRES_PASSWORD"
        secretPath: "secret/bram_vortex_db"
        secretKey: "POSTGRES_PASSWORD"
      - objectName: "GOOGLE_API_KEY"
        secretPath: "secret/bram-vortex-repo-analyzer"
        secretKey: "spring.ai.google.genai.api-key"
  secretObjects:
    - secretName: analyzer-secrets-bundle
      type: Opaque
      data:
        - objectName: "POSTGRES_USER"
          key: "db-user"
        - objectName: "POSTGRES_PASSWORD"
          key: "db-pass"
        - objectName: "GOOGLE_API_KEY"
          key: "google-api-key"