apiVersion: secrets-store.csi.x-k8s.io/v1
kind: SecretProviderClass
metadata:
  name: vault-postgres-provider
  namespace: default
spec:
  provider: vault
  parameters:
    roleName: "postgres-role"
    vaultAddress: "http://vault.vault.svc.cluster.local:8200"
    objects: |
      - objectName: "POSTGRES_USER"
        secretPath: "secret/bram_vortex_db"
        secretKey: "POSTGRES_USER"
      - objectName: "POSTGRES_PASSWORD"
        secretPath: "secret/bram_vortex_db"
        secretKey: "POSTGRES_PASSWORD"
      - objectName: "POSTGRES_DB"
        secretPath: "secret/bram_vortex_db"
        secretKey: "POSTGRES_DB"
  secretObjects:
    # Αυτό θα δημιουργήσει αυτόματα ένα Kubernetes Secret με όνομα 'postgres-vault-secret'
    - secretName: postgres-vault-secret
      type: Opaque
      data:
        - objectName: "POSTGRES_USER"
          key: "postgres-user"
        - objectName: "POSTGRES_PASSWORD"
          key: "postgres-password"
        - objectName: "POSTGRES_DB"
          key: "postgres-db"